.bgd{
 
  background-color: lightgreen;
  border: 1px;
  margin:14px;
  padding:5px; 
  /* width:30%;
  height:30%; */
  text-align: center;

}

.imgdecor{
  width:150px;
  height:150px;
  
}
.bgd:hover{
  transform:scale(1.02);
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
